.navbar {
    min-height: 100px;
    width: 100%;
    color: rgb(3, 186, 189);
    font-family: 'Muli', sans-serif;
    padding: 25px 0px 25px 0px;
    padding-bottom: 25px;

  }

  .navbar li {
    display: inline-block;
    width: 33.3%;
    text-align: center;
    font-size: 25px;
    padding: 25px 0px 25px 0px;
  }
  
  .navbar a {
    color: rgb(3, 186, 189);
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-decoration: none; 
    padding: 25px 0px 25px 0px;
  }
  
  